 <% @comment_hash.each do |parent, children| %>
        <div class="parent-comment">
          <i>Parent comment by <%= parent.author.email %> <a href="/comment/<%= parent.id %>">reply</a></i></br>
          <%= parent.body %></br>
        </div>   
          <% unless children.empty? %> 
            <% children.each do |child| %>
              <div class="child-comment"> 
                <i>Child comment by <%= child.author.email %> <a href="/comment/<%= child.id %>"><strike>reply</strike></a></i></br>
                <%= child.body %></br>
              </div>
            <% end %>
          <% end %>
<% end %>
